---
import {useLocale} from '@utils/locale'
import {PandaConfig} from "../config.js";

const {url} = Astro
const {path, t, locale} = useLocale(url)
const {navbar} = PandaConfig

const items = navbar
function isRootPage() {
    return !items.some((item) => url.toString().includes(item.url))
}
---

<nav>
    {
        items.map((item) => {
            return (
                    <a
                            rel="prefetch"
                            href={item.url}
                            class="panda-link mr-4 animated hover:no-underline"
                            class:list={
            (item.url === '/' && url.pathname === '/') ||
            (item.url !== '/' && url.pathname.startsWith(item.url))
              ? 'active' : ''
          }
                    >{item.title}</a>
            )
        })
    }
</nav>
